%p
  %span.reference_links
    = t('reference')
    %span#filter_reference_link_body
      = link_to t('filter'), '/admin/reference/filters?filter_name=Textile', :class => 'popup'
    %span#tag_reference_link_body
      = link_to t('available_tags'), '/admin/reference/tags', :class => 'popup'