- @page_title = 'Forms - ' + default_page_title

.outset
  = render 'header'
  #forms_table
    %table.index
      %thead
        %tr
          %th.form Form
          %th.modify Modify
      %tbody#forms_table_body
        - if @forms.size != 0
          = render :partial => 'form', :collection => @forms
        -else
          %tr
            %td.empty{:colspan => 2} No Forms

#actions
  %ul
    %li= link_to "New Form", new_admin_form_path